<?xml version="1.0" ?>
<robot name="a0912">
   <link name="world"/>

   <joint name="joint_1" type="fixed">
    <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.00"/>
    <parent link="world"/>
    <child link="link_1"/>
   </joint>

   <link name="link_1">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual name="link1">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="0.3 0.3 0.1"/>
        </geometry>
        <material name="1">
            <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
    </visual>
    <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="0.0 0.0 0.0"/>
        </geometry>
    </collision>
   </link>

   <joint name="joint_2" type="revolute">
    <origin xyz="0.0 0.0 0.20" rpy="0.0 0.0 0.0"/>
    <parent link="link_1"/>
    <child link="link_2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-3.14" upper="3.14" effort="5.0" velocity="0.2"/>
   </joint>
   
   <link name="link_2">
    <inertial>
        <origin xyz="0.12 0.1 0.20" rpy="0.0 0.0 0.0"/>
        <mass value="0.0"/>
        <inertia ixx="0.10" ixy="0.10" ixz="0.10" iyy="0.20" iyz="0.20" izz="0.20"/>
    </inertial>
    <visual name="link1">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="0.12 0.12 0.3"/>
        </geometry>
        <material name="">
            <color rgba="0.0 1.0 0.0 1.0"/>
        </material>
    </visual>
    <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="0.0 0.0 0.0"/>
        </geometry>
    </collision>
   </link>

</robot>